{% extends 'base.html.twig' %}

{% block body %}

  <h2>Symfony 3 Form Example</h2>

  <hr />

  {{ form_start(form) }}
  {{ form_errors(form) }}

  <div class="form-group {% if not form.title.vars.valid %}has-error{% endif %}">
    {{ form_label(form.title) }}
    <div class="col-sm-10">
      {{ form_widget(form.title) }}
      {{ form_errors(form.title) }}
    </div>
  </div>

  <div class="form-group {% if not form.email.vars.valid %}has-error{% endif %}">
    {{ form_label(form.email, 'Your email') }}
    <div class="col-sm-10">
      {{ form_widget(form.email) }}
      {{ form_errors(form.email) }}
    </div>
  </div>

  {{ form_end(form) }}

{% endblock %}
